html {
  background-image: url("../img/webpage-background.jpg");
  padding: 50px;
}

body {
  padding: 30px;
  border: 5px solid black;
  border-radius: 25px;
  box-shadow: 0px 0px 25px black;
  max-width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron {
  text-align: center;
  box-shadow: 0px 0px 25px black;
  border: 5px solid black;
  border-radius: 15px;
  background-color: #563e18;
}

.jumbotron h1 {
  font-size: 70px;
  color: white;
}

.intro p {
  text-align: center;
  font-size: 24px;
}

.btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 0px 20px black;
  cursor: pointer;
  background-color: #563e18;
  color: white;
  font-weight: bold; 
}

button:hover {
  box-shadow: 0px 0px 10px black;
}

form {
  margin-bottom: 30px;
}

form p, label {
  font-weight: bold;
}

img {
  width: 300px;
  height: 200px;
  border: 1px solid black;
}

.destinationImage, .landmarks, .season, .notes, .delete {
  display: none;
}

.col-md-4 {
  padding: 20px;
}

.destinationsCard {
  background-color: #efcb5d;
  border: 0.5px solid black;
  box-shadow: 0px 0px 10px black inset;
  padding: 10px;
}

h2 {
  text-align: center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 0px 0px 5px black;
  background-color: white;
  margin-top: 15px;
  cursor: pointer;
}

h2:hover {
  box-shadow: 0px 0px 5px black inset;
}

.col-md-4 img {
  margin-top: 15px;
  margin-bottom: 20px;
}

.col-md-4 p {
  padding: 10px;
  background-color: white;
  box-shadow: 0px 0px 5px black inset;
}

.delete {
  box-shadow: 0 0 0 black;
}

.col-md-4 .destinationsCard .centerBlock {
  display: block !important;
  margin-right: auto;
  margin-left: auto;
}
